<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Pallets_Binding">
                    <security>
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="Scan_Binding" />
                <binding name="Reservations_Binding" />
                <binding name="Users_Binding" />
                <binding name="ReservationsPalettes_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvnavision.europacuisson.local:7057/DynamicsNAV/WS/EC%20D%C3%A9marrage/Page/Pallets"
                binding="basicHttpBinding" bindingConfiguration="Pallets_Binding"
                contract="ServiceReference1.Pallets_Port" name="Pallets_Port" />
            <endpoint address="http://srvnavision.europacuisson.local:7057/DynamicsNAV/WS/EC%20D%C3%A9marrage/Codeunit/Scan"
                binding="basicHttpBinding" bindingConfiguration="Scan_Binding"
                contract="ScanCU.Scan_Port" name="Scan_Port" />
            <endpoint address="http://srvnavision.europacuisson.local:7057/DynamicsNav/WS/EC%20D%C3%A9marrage/Page/Reservations?wsdl"
                binding="basicHttpBinding" bindingConfiguration="Reservations_Binding"
                contract="Reservations.Reservations_Port" name="Reservations_Port" />
            <endpoint address="http://srvnavision.europacuisson.local:7057/DynamicsNav/WS/EC%20D%C3%A9marrage/Page/Users"
                binding="basicHttpBinding" bindingConfiguration="Users_Binding"
                contract="NAVUsers.Users_Port" name="Users_Port" />
            <endpoint address="http://srvnavision.europacuisson.local:7057/DynamicsNAV/WS/EC%20D%C3%A9marrage/Page/ReservationsPalettes"
                binding="basicHttpBinding" bindingConfiguration="ReservationsPalettes_Binding"
                contract="ReservationsPalettes.ReservationsPalettes_Port"
                name="ReservationsPalettes_Port" />
        </client>
    </system.serviceModel>
</configuration>